* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



header {}


.logo {
  width: 50%;
  position: absolute;
  top: 2%;
  left: 2%;
}


.main-menu {
  position: fixed;
  top: 40%;
  right: 3%;
}


.nav-links {
  display: block;
  list-style: none;
  text-align: right;
}

.nav-links li {
  transition: transform 250ms;
}

.nav-links li:hover {
  transform: translateX(-2rem);
}

li,
a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  font-family: druk_wide_medium;
  text-transform: uppercase;
  line-height: 3rem;
  position: relative;
}