.logo {
  width: 50%;
  position: absolute;
  top: 2%;
  left: 2%;
}

.main-menu {
  position: fixed;
  top: 30%;
  right: 3%;
}

.nav-links {
  display: block;
  list-style: none;
  text-align: right;

}

.nav-links li {
  transition: transform 250ms;
}

.nav-links li:hover {
  transform: translateX(-2rem);
}

.nav-links li:focus {
  text-decoration: underline white solid 2px;
}

li,
a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  font-family: druk_wide_medium;
  text-transform: uppercase;
  line-height: 3rem;
  position: relative;

}


.burger {
  display: none;
  padding: 0.5rem;
  cursor: pointer;
}

.line {
  height: 2px;
  width: 35px;
  margin: 0.5rem 0;
  background: #daf8e3;
  transition: transform 0.75s ease, opacity 0.75s ease;
}

@media screen and (max-width: 1070px) {
  .burger {
    display: block;
    position: fixed;
    top: 5%;
    right: 3%;
  }

  .nav-links {
    position: fixed;
    top: 20vh;
    right: 2rem;
    height: 20vh;
    width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 1s ease;
  }


  .main-nav.show .line1 {
    transform: translate(-10px) rotate(45deg) translate(10px);
  }

  .main-nav.show .line2 {
    opacity: 0;
  }

  .main-nav.show .line3 {
    transform: translate(-10px) rotate(-45deg) translate(10px);
  }

  .main-nav.show .nav-links {
    transform: translateX(0%);
  }
}